TELEGRAM_BOT_TOKEN="SUTITUYE POR EL TUYO"
TELEGRAM_ALLOWED_USER_IDS="SUTITUYE POR EL TUYO"
GROQ_API_KEY="SUTITUYE POR EL TUYO"
OPENROUTER_API_KEY="SUTITUYE POR EL TUYO"
OPENROUTER_MODEL="openrouter/free"
DB_PATH="./memory.db"
PORT="3005"
HOST="0.0.0.0"
